<!DOCTYPE html>
<html lang = en>
    <head>
        <meta charset= "utf-8">
        <title>Movie Explorer</title>
        <link rel=stylesheet href="/styles.css">
    </head>
    <body>
        <div class="main-box">
        <h1>Welcome to Movie Explorer!</h1>
        <ul>
          <li>To find what streaming platform you can find a movie: <a href = "/movieFinder"> Movie Finder</a></li>
          <li>To add a movie to your watchlist: <a href= "/addWatchList"> Add to Watchlist</a></li>
          <li>To view your watchlist: <a href = "/viewWatchList">View WatchList</a></li>
        </ul>
        </div>
    </body>
    </html>