<!doctype html>
<html lang="en">


<head>
   <meta charset="utf-8" />
   <title>Movie Results</title>
   <link rel=stylesheet href="/styles.css">
</head>


<body>
   <div class="main-box">
      <a href = "/" class="button-link"> Back to HomePage</a>  
   <h1>Movie Finder Results</h1>
   <ol><%- movies %></ol>
   
   </div>
</body>


</html>