<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>View Watchlist</title>
    <link rel=stylesheet href="/styles.css">
</head>


<body>
    <div class="main-box">
        <a href = "/" class="button-link"> Back to HomePage</a>  
    <h1>View Watchlist</h1>
    
        <form id="form" action="/retrieve" method="post">


            <strong>Email Address:</strong><input type="text" name="email">
            <br>
            <br>
            <div class="button-container">
            <input type="submit" value="Submit">
            </div>
        </form>
       
    </div>
</body>